%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.

{plugins,
 [{pc, "1.9.1",
   {git, "https://github.com/K2InformaticsGmbH/port_compiler.git",
    {ref, "72a4f04021f044d51d13529e38a0e5830baf0eb0"}}}
 ]}.

{port_specs,
 [{"win32",         "priv/binnifcpy.dll", ["c_src/binnifcpy.cpp"]},
  {"linux|darwin",  "priv/binnifcpy.so",  ["c_src/binnifcpy.cpp"]}
]}.

{port_env,
 [{"win32", "DRV_CFLAGS", "$ERL_CFLAGS"},
  {"win32", "EXE_CFLAGS", "$ERL_CFLAGS"},
  {"win32", "DRV_LINK_CXX_TEMPLATE", "$DRV_LINK_TEMPLATE"},
  {"win32", "EXE_LINK_CXX_TEMPLATE", "$EXE_LINK_TEMPLATE"},
  {"win32", "CXXFLAGS",
   "$CXXFLAGS /Zi /nologo /W3 /WX- /O2 /Ob2 /Ot /GL /D _CRT_SECURE_NO_WARNINGS "
   "/Gm- /EHsc /GS /fp:fast /Gd "},
  {"win32", "LDFLAGS",
   "$LDFLAGS /NOLOGO Ws2_32.lib /MANIFEST:NO /OPT:REF /OPT:ICF /LTCG /TLBID:1 "
   "/DYNAMICBASE /NXCOMPAT /MACHINE:X64"},
  
  {"linux", "CC", "g++"},
  {"linux|darwin", "CXXFLAGS",
   "$CXXFLAGS -D__STDC_LIMIT_MACROS -Ic_src -O3 -fomit-frame-pointer -funroll-loops"}
 ]}.

{post_hooks,
 [{"(linux|darwin|solaris)", clean, "rm -f priv/* c_src/*.o c_src/*.d"},
  {"(linux|darwin|solaris)", compile,
   "rm -f c_src/*.o c_src/*.d priv/*.exp priv/*.lib"},
  {"win32", clean, "del /F /Q priv\\* c_src\\*.o c_src\\*.d"},
  {"win32", compile, "del /F /Q c_src\\*.o c_src\\*.d priv\\*.exp priv\\*.lib"}
 ]}.

{provider_hooks,
 [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}
 ]}.